h1,
p {
    font-family: Lato;
}

table {
    margin-left: 2rem;
    width: 100%;
    border-collapse: collapse;
    position: relative;
}

thead tr th {
    font-weight: 500;
    background-color: #61dafb;
    color: black;
}

tbody tr:nth-child(even) {
    background-color: #61dafb;
    color: black;
}

th,
td {
    padding: 8px;
    overflow-wrap: break-word;
}

.pagination-bar {
    width: 100%;
    display: flex;
    justify-content: center;
}
li {
    list-style: none;
}